{% extends 'base.html.twig' %}

{% block title %}Edit Bead
{% endblock %}

{% block body %}
	<h1>Edit Bead</h1>
	{{bead.bead.name}}
	<div class="container">
		<div><img src="{{ asset('images/' ~ bead.bead.image) }}" class="img-fluid p-3"/></div>
		{{bead.bead.name}}
	</div>
	{{bead.bead.number}}

	{{ form_start(beadForm) }}
	{{ form_row(beadForm.stock) }}

	<button class="btn btn-primary">
		Save</button>
	{{form_end(beadForm)}}
	<a href="{{ path('app_bead_homepage') }}" class="btn btn-primary btn-sm">
		back to my beads</a>

{% endblock %}
