{% extends 'base.html.twig' %}
{% block body %}
	<main class="flex flex-col lg:flex-row">
		<div class="container mb-2">
			{% if app.request.query.get('q') %}
				<h1>All My Beads</h1>
			{% else %}
				<h1>All Beads</h1>
			{% endif %}

			<div class="d-flex flex-row-reverse">
				<a href="{{ path('app_bead_homepage') }}" class="btn btn-outline-secondary mr-2">Reset Search</a>
				<a href="{{ path('app_bead_homepage') }}?q=mix">
					<button class="btn btn-outline-success mr-2">Mix</button>
				</a>
				<a href="{{ path('app_bead_homepage') }}?q=own">
					<button class="btn btn-outline-success mr-2">Own Beads</button>
				</a>
				<form class="d-flex" action="{{ path('app_bead_homepage') }}">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{app.request.query.get('q') }}">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>

			</div>
		</div>
		<div class="row">
			{% for bead in beads %}
				<div class="col-auto mb-3">
					<a class="hover:text-slate-200" href="{{ path('app_bead_show', { id: bead.id }) }}" style="text-decoration:none;">

						<div class="card" style="width: 18rem;">
							<div class="card-header">
								<img src="{{ asset('images/' ~ bead.image)}}" class="card-img-top" alt="...">
								<div class="card-body">

									<h5 class="card-title" style="height:80px">{{ bead.name }}</h5>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											Number:
											{{bead.number}}</li>

										<li class="list-group-item" style="height:33px">
											{% if bead.components | length > 0 %}
												Beads in mix:
												{{bead.getcomponents| length}}

											{% endif %}
										</li>
										<li class="list-group-item" style="height:66px">
											{% for userBead in bead.userBeads %}
												{% if userBead.user == app.user %}
													<div class="d-flex justify-content-between border-bottom">
														<span>Stock:</span>
														<span>{{userBead.stock /100}}
															gram</span>
													</div>
													<div class="d-flex justify-content-between border-bottom">
														<span>Amount</span>
														<span>{{userBead.stock * 2}}</span>
													</div>
												{% endif %}
											{% endfor %}
										</li>
										<li class="list-group-item" style="height:33px">


											{% set userFound = false %}
											{% for userBead in bead.userBeads %}
												{% if userBead.user == app.user %}
													{% set userFound = true %}
												{% endif %}
											{% endfor %}


											{% if userFound %}
												<p class='text-success'>In collection</p>
											{% else %}
												<p class='text-danger'>Not in collection</p>
											{% endif %}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>


	</div>
</main>{% endblock %}
