{% extends 'base.html.twig' %}

{% block title %}
	{{ bead.name }}
{% endblock %}

{% block body %}
	<section style="background-color: #eee;">
		<div class="container py-5">
			<div class="row bg-lightown border border-secondary rounded m-3 p-2">
				<div class="col-4 ">
					<img src="{{ asset('images/' ~ bead.image) }}" class="img-fluid p-3"/>
				</div>
				<div class="col-4">
					<h2>Assign beads</h2>

					{# {{dump(bead.components[0].id)}} #}
					{{ form_start(beadToMixForm)}}
					{% if beadToMixForm.components is defined %}
						{{ form_row(beadToMixForm.components) }}
					{% endif %}

					<button class="btn btn-primary">Save</button>

					{{ form_end(beadToMixForm) }}


				</div>
				<div class="col">
					<div class="card-body">
						<div class="text-center">
							<h3 class="card-title border-bottom">{{ bead.name }}</h3>
						</div>
						<div>
							<div class="d-flex justify-content-between border-bottom">
								<span>Number</span>
								<span>{{ bead.number }}</span>
							</div>
							<div class="d-flex justify-content-between border-bottom">
								<span>Stock</span>
								<span>{{bead.stock / 100}}
									gram</span>
							</div>
							<div class="d-flex justify-content-between border-bottom">
								<span>Amount</span>
								<span>{{bead.stock * 2}}</span>
							</div>
							<div class="d-flex justify-content-between border-bottom">
								<span>Colors</span>
								{% for color in bead.colors %}
									{{color.color}}

								{% endfor %}
							</div>
							{% if bead.components|length > 0 %}
								<div class="d-flex justify-content-between border-bottom">
									<span>Count Beads in mix:</span>
									<span>{{bead.components|length}}</span>
								</div>
							{% endif %}
						</div>
						<div class="d-flex justify-content-between total font-weight-bold mt-4">
							<form method="POST" action="{{ path('app_bead_delete', { 'id': bead.id }) }}">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bead.id) }}">
								<button class="btn btn-danger">Delete</button>
							</form>
							<a href="{{ path('homepage') }}" class="btn btn-primary">back to list</a>
							<a href="{{ path('app_bead_edit', {'id': bead.id}) }}" class="btn btn-primary">edit</a>

						</div>
					</div>
				</div>

			</div>


			<div id="form-status"></div>
			{% if bead.usedInMixes|length > 0 %}
				<div class="mx-auto mb-3" style="width: 400px;">
					<h3>{{bead.usedInMixes|length }}
						mix for this bead:
					</h3>
				</div>
				{% for inmixes in bead.usedInMixes %}
					<div class="">

						<a class="hover:text-slate-200" href="{{ path('app_bead_show', { id: inmixes.id }) }}" style="text-decoration:none;">
							<div class="card" style="width: 16rem;">
								<div class="card-header">
									<img src="{{ asset('images/' ~ inmixes.image)}}" class="card-img-top" alt="...">
									<div class="card-body">

										<h5 class="card-title">{{ inmixes.name }}</h5>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">Number:
												{{inmixes.number}}</li>
											<li class="list-group-item">Stock in gram:
												{{inmixes.stock / 100}}</li>

											<li class="list-group-item">Amount: &#177;
												{{inmixes.stock * 2}}
												beads
											</li>
										</ul>
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			{% endif %}
			{% if bead.components|length > 0 %}
				<div class="mx-auto mb-3" style="width: 400px;">
					<h3>{{bead.components|length }}
						Beads in this mix:
					</h3>
				</div>
				<div class="row row-cols-auto">
					{% for mix in bead.components %}
						<div class="">
							<a class="hover:text-slate-200" href="{{ path('app_bead_show', { id: mix.id }) }}" style="text-decoration:none;">
								<div class="card" style="width: 14rem;">
									<div class="card-header">
										<img src="{{ asset('images/' ~ mix.image)}}" class="card-img-top" alt="...">
										<div class="card-body">

											<h5 class="card-title">{{ mix.name }}</h5>
											<ul class="list-group list-group-flush">
												<li class="list-group-item">Number:
													{{mix.number}}</li>
												<li class="list-group-item">Stock in gram:
													{{mix.stock / 100}}</li>

												<li class="list-group-item">Amount: &#177;
													{{mix.stock * 2}}
													beads
												</li>
											</ul>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<script>
			document.addEventListener('DOMContentLoaded', function () {
$('.select2').select2({placeholder: "Choose an option", allowClear: true});
});
		</script>

	</section>
{% endblock %}
