{% extends 'base.html.twig' %}

{% block title %}
	{{ color.color }}
{% endblock %}

{% block body %}
	<section style="">
		<div class="row border ">
			<div class="col-1">
				<img src="{{ asset('colors/' ~ color.hexa)}}">
			</div>
			<div class="col-6 d-flex align-items-center justify-content-center">
				<span class="">
					<h5>{{color.color}}</h5>
				</span>
			</div>
		</div>
		<h3>
			Beads in this color

		</h3>
		<div class="row row-cols-auto">
			{% for bead in color.bead %}
				<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-3">
					<a class="hover:text-slate-200" href="{{ path('app_bead_show', { id: bead.id }) }}" style="text-decoration:none;">
						<div class="card">
							<div class="card-header">
								<img src="{{ asset('images/' ~ bead.image)}}" class="card-img-top" alt="...">
								<div class="card-body">

									<h5 class="card-title">{{ bead.name }}</h5>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Number:
											{{bead.number}}</li>
										{% set userFound = false %}
										{% for userBead in bead.userBeads %}
											{% if userBead.user == app.user %}
												{% set userFound = true %}
												<div class="d-flex justify-content-between border-bottom">
													<span>Stock:</span>
													<span>{{userBead.stock /100}}
														gram</span>
												</div>
												<div class="d-flex justify-content-between border-bottom">
													<span>Amount</span>
													<span>{{userBead.stock * 2}}
														beads</span>
												</div>
											{% endif %}
										{% endfor %}

										{% if userFound %}
											<p class='text-success fw-bold'>In my collection</p>
											<div class="mt-2">
												<a href="{{ path('app_userbead_remove', {'id': bead.id}) }}" class="btn btn-danger">remove from collection</a>
											</div>

										{% else %}
											<p class='text-danger fw-bold'>Not in my collection</p>
											<div class="mt-2">
												<a href="{{ path('app_userbead_add', {'id': bead.id}) }}" class="btn btn-success">Add to my collection</a>
											</div>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

		{# {% if mixes ?? false %}
																																								
																																												<div class="mx-auto mb-3" style="width: 400px;">
																																													<h3>{{mixes|length }}
																																														Beads in this mix:
																																													</h3>
																																												</div>
																																												<div class="row row-cols-auto">
																																													{% for mix in mixes %}
																																														<div class="">
																																															<a class="hover:text-slate-200" href="{{ path('app_bead_show', { id: mix.beadnr }) }}" style="text-decoration:none;">
																																																<div class="card" style="width: 16rem;">
																																																	<div class="card-header">
																																																		<img src="{{ asset('images/' ~ mix.image)}}" class="card-img-top" alt="...">
																																																		<div class="card-body">
																																								
																																																			<h5 class="card-title">{{ mix.name }}</h5>
																																																			<ul class="list-group list-group-flush">
																																																				<li class="list-group-item">Number:
																																																					{{mix.number}}</li>
																																																				<li class="list-group-item">Stock in gram:
																																																					{{mix.stock / 100}}</li>
																																								
																																																				<li class="list-group-item">Amount: &#177;
																																								
																																																					{{mix.stock * 2}}
																																																					beads
																																																				</li>
																																								
																																																				{% if is_granted('ROLE_ADMIN') %}
																																																					<li class="list-group-item">User:
																																																						{{puzzel.User.getName }}</li>
																																																					{% else %}
																																																				{% endif %}
																																																			</ul>
																																																		</div>
																																																	</div>
																																																</div>
																																															</a>
																																														</div>
																																													{% endfor %}
																																												</div>
																																											</div>
																																										{% endif %} #}

	</section>
{% endblock %}
